#cancelar
{
    background-color: #FF2233;
    color:#F0F0E9;
    border-radius: 15px;
    padding: 5px 20px;
    font-family: lato;
}

#validar-relatorio
{
    background-color: #14387F;
    color:#F0F0E9;
    border-radius: 15px;
    padding: 5px 20px;
    font-family: lato;
}