.login a {
    color: black;
}

.login .form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login form {
    border: 2px solid #14387F;
    border-radius: 22px;
    padding: 30px 15px;
    background: #C4C4C4;
}

.login label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
}

.login input {
    display: block;
    background: #f0f0e9;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
}

.login input:nth-of-type(1) {
    margin-bottom: 20px;
}

.login input:nth-of-type(2) {
    margin-bottom: 5px;
}

.login small {
    color: #14387F;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 30px;
}

.login button {
    width: 100%;
    border-radius: 10px;
    background-color: #14387F;
    color: #f0f0e9;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
}

.nao-possui-conta {
    font-size: 12px;
    font-weight: bold;
}

.login form a {
    display: block;
}

.left {
    float:left;
}

.right {
    float: right;
}
  
.clear {
    clear:both;
}

h2, h3, h4
{
    font-family: latob;
}

#projeto
{
    background-color: #C4C4C4;
    border-radius: 25px;
    padding: 25px;
    height:auto;
}

#notificacoes
{
    background-color: #D4D4D4;
    padding: 20px;
    border-radius: 25px;
    width: 200px;
    min-height: 10px;
    position: relative;
}

#notificacoes p {
    margin: 10px 0;
}

#notif {
    height: 35px;
    width: 35px;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#notif p {
    color: #f0f0e9;
}

label
{
    font-family: latob;
}

progress
{
    height: 30px;
    width: 300px;
}

#sair
{
    background-color: #D61313;
    color: #F0F0E9;
    border-radius: 10px;
    padding: 10px;
    width: 160px;
    height: 40px;
    font-size: 100%;
    font-family: lato;
}

#novo
{
    background-color: #14387F;
    color: #F0F0E9;
    border-radius: 10px;
    padding: 10px;
    width: 160px;
    height: 40px;
    font-size: 100%;
    font-family: lato;
}

#objetivo
{
    max-width: 70%;
}

#btn-entrar a {
    color: #F0F0E9;
}

#novo-relatorio
{
    background-color: #C4C4C4;
    border-style: solid;
    border-width: 2px;
    border-color: #14387F;
    border-radius: 25px;
    padding: 20px;
}

#atividades-realizadas
{
    font-family: lato;
    border-collapse: collapse;
    width: 100%;
}

#atividades-realizadas td, #atividades-realizadas th
{
    border: 1px solid #F0F0E9;
    padding: 5px;
}

#atividades-realizadas tr:nth-child(even)
{
    background-color: #D4D4D4;
}

#atividades-realizadas th
{
    padding: 5px 20px;
    text-align: center;
    background-color: #B4B4B4;
}

#horas
{
    background-color: #f0f0e9;
    border-radius: 10px;
    width: 100px;
    padding-left: 5px;
}

#nova-atividade
{
    background-color: #008237;
    color: #F0F0E9;
    padding: 5px 20px;
    border-radius: 25px;
}

#cancelar
{
    background-color: #FF2233;
    color:#F0F0E9;
    border-radius: 15px;
    padding: 5px 20px;
    font-family: lato;
}

#enviar-relatorio
{
    background-color: #14387F;
    color:#F0F0E9;
    border-radius: 15px;
    padding: 5px 20px;
    font-family: lato;
}