
#objetivo
{
    max-width: 70%;
}

#btn-entrar a {
    color: #F0F0E9;
}

.responder-responsavel {
    margin-left: 150px;
    text-align: right;
}

#notificacoes p {
    color: black;
}
#mensagem
{
    background-color: #F0F0E9;
    border-radius: 15px;
    padding: 15px 20px;
}

#anexar {
    border-radius: 20px;
    background-color: #bbb;
    padding: 5px;
}


