.participante {
    background: #c4c4c4;
    margin-bottom: 30px;
}



.ver_participantes > div {
    display: flex;
    padding: 15px 100px 15px 15px;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    position: relative;
}

.participantes > div:nth-of-type(1) {
    justify-content: space-around;
}

.participante div {
    height: 100%;
    padding: 10px;
    color: #f0f0e9;
    border-radius: 30px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
}

.conclu {
    background: #009306;
}

.pendente {
    background: #FF2233;
}

.left {
    float:left;
}

.right {
    float: right;
}
  
.clear {
    clear:both;
}


#projeto
{
    background-color: #C4C4C4;
    border-radius: 25px;
    padding: 25px;
    height:auto;
}

#projeto p {
    color: black;
}

#notificacoes
{
    background-color: #D4D4D4;
    padding: 20px;
    border-radius: 25px;
    width: 200px;
    min-height: 10px;
    position: relative;
}

#notificacoes p {
    margin: 10px 0;
}

#notif {
    height: 35px;
    width: 35px;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#notif p {
    color: #f0f0e9;
}

label
{
    font-family: latob;
}

.progress-bar
{
    height: 40px;
    width: 300px;
    background: #d4d4d4;
    margin-right: 10px;
}

.progress {
    width: 60px;
    background: #6BAF53;
    height: 40px;
}

.progress-container {
    margin-bottom: 30px;
    padding-top: 10px;
    display: flex;
    align-items: center;
}

#vagas {
    font-size: 20px;
    font-weight: bold;
}

#ver-participantes-btn, #visualizar-relatorios-btn
{
    background-color: #14387F;
    color: #F0F0E9;
    border-radius: 10px;
    padding: 10px;
    min-width: 160px;
    height: 40px;
    font-size: 100%;
    font-family: lato;
}

#objetivo
{
    max-width: 70%;
}

.login form {
    border: 2px solid #14387F;
    border-radius: 22px;
    padding: 30px 15px;
    background: #C4C4C4;
}

.login button {
    width: 100%;
    border-radius: 10px;
    background-color: #14387F;
    color: #f0f0e9;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
}

.login input {
    display: block;
    background: #f0f0e9;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
}

#criarcertificado
{
    border: 2px solid #14387F;
    border-radius: 22px;
    padding: 30px 15px;
    background: #C4C4C4;
    height: 700px;
}

#certificado
{
    border-radius: 25px;
    background-color: #F0F0E9;
    background-image: url(../imagens/certificado.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px;
    height: 400px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
}

.assinaturas
{   
    font-size: 16px;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 5px;
    position: relative;
    font-weight: bold;
}

.assinatura:nth-of-type(1):before {
    content: '';
    width: 35%;
    height: 1px;
    top: 0;
    left: 65px;
    background: black;
    position: absolute;
}

.assinatura:nth-of-type(2):before {
    content: '';
    width: 35%;
    height: 1px;
    top: 0;
    left: 305px;
    background: black;
    position: absolute;
}

#qrcode
{
    width: 35%;
}

#concluir
{
    background-color: #14387F;
    color:#F0F0E9;
    border-radius: 15px;
    padding: 5px 20px;
    font-family: lato;
}