
label
{
    font-family: latob;
}

#objetivo
{
    max-width: 70%;
}

#btn-entrar a {
    color: #F0F0E9;
}

#h
{
    text-align: center;
}

#enviar-projeto {
    color: #fff;
}

#carta {
    max-width: 40px;
}

#recusar-validar {
    display: flex;
    align-items: flex-end;
}

