.login a {
    color: black;
}

.login .form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login form {
    border: 2px solid #14387F;
    border-radius: 22px;
    padding: 30px 15px;
    background: #C4C4C4;
}

.login label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
}

.login input, .login select, .login textarea {
    display: block;
    background: #f0f0e9;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
}

.login input:nth-of-type(1) {
    margin-bottom: 20px;
}

.login input:nth-of-type(2) {
    margin-bottom: 5px;
}

.login small {
    color: #14387F;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 30px;
}

.login button {
    width: 100%;
    border-radius: 10px;
    background-color: #14387F;
    color: #f0f0e9;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
}

.nao-possui-conta {
    font-size: 12px;
    font-weight: bold;
}

.login form a {
    display: block;
}

.cadastro input, .cadastro select {
    margin-bottom: 20px;
}

.cadastro #nome {
    width: 100%;
}

#concordo {
    margin-right: 5px;
}

.cadastro #concordo, .cadastro p {
    display: inline-block;
}

.cadastro #email, .cadastro #departamento {

   display: block;
}

.left {
    float:left;
}

.right {
    float: right;
}
  
.clear {
    clear:both;
}

#projeto
{
    background-color: #C4C4C4;
    border-radius: 25px;
    padding: 25px;
    height:auto;
}

#notificacoes
{
    background-color: #D4D4D4;
    padding: 20px;
    border-radius: 25px;
    width: 200px;
    min-height: 10px;
    position: relative;
}

#notificacoes p {
    margin: 10px 0;
}

#notif {
    height: 35px;
    width: 35px;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#notif p {
    color: #f0f0e9;
}

label
{
    font-family: latob;
}

.progress-bar
{
    height: 40px;
    width: 300px;
    background: #d4d4d4;
    margin-right: 10px;
}

.progress {
    width: 60px;
    background: #6BAF53;
    height: 40px;
}

.progress-container {
    margin-bottom: 30px;
    padding-top: 10px;
    display: flex;
    align-items: center;
}

#vagas {
    font-size: 20px;
    font-weight: bold;
}

#ver-participantes-btn, #visualizar-relatorios-btn
{
    background-color: #14387F;
    color: #F0F0E9;
    border-radius: 10px;
    padding: 10px;
    min-width: 160px;
    height: 40px;
    font-size: 100%;
    font-family: lato;
}

#objetivo
{
    max-width: 70%;
}

#btn-entrar a {
    color: #F0F0E9;
}