.login a {
    color: black;
}

.login .form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login form {
    border: 2px solid #14387F;
    border-radius: 22px;
    padding: 30px 15px;
    background: #C4C4C4;
}

.login label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
}

.login input, .login select, .login textarea {
    display: block;
    background: #f0f0e9;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
}

.login input:nth-of-type(1) {
    margin-bottom: 20px;
}

.login input:nth-of-type(2) {
    margin-bottom: 5px;
}

.login small {
    color: #14387F;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 30px;
}

.login button {
    width: 100%;
    border-radius: 10px;
    background-color: #14387F;
    color: #f0f0e9;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
}

.nao-possui-conta {
    font-size: 12px;
    font-weight: bold;
}

.login form a {
    display: block;
}

.cadastro input, .cadastro select {
    margin-bottom: 20px;
}

.cadastro #nome {
    width: 100%;
}

#concordo {
    margin-right: 5px;
}

.cadastro #concordo, .cadastro p {
    display: inline-block;
}

.cadastro #email, .cadastro #departamento {

   display: block;
}

.left {
    float:left;
}

.right {
    float: right;
}
  
.clear {
    clear:both;
}

.relatorios-recebidos td, .relatorios-recebidos th, .participantes td, .participantes th {
    text-align: center;
}

.relatorios-recebidos a {
    color: black;
    font-weight: bold;
}

.relatorios-recebidos a:hover {
    text-decoration: underline;
}

#projeto
{
    background-color: #C4C4C4;
    border-radius: 25px;
    padding: 25px;
    height:auto;
}

#projeto p {
    color: black;
}

#notificacoes
{
    background-color: #D4D4D4;
    padding: 20px;
    border-radius: 25px;
    width: 200px;
    min-height: 10px;
    position: relative;
}

#notificacoes p {
    margin: 10px 0;
}

#notif {
    height: 35px;
    width: 35px;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#notif p {
    color: #f0f0e9;
}

label
{
    font-family: latob;
}

.progress-bar
{
    height: 40px;
    width: 300px;
    background: #d4d4d4;
    margin-right: 10px;
}

.progress {
    width: 60px;
    background: #6BAF53;
    height: 40px;
}

.progress-container {
    margin-bottom: 30px;
    padding-top: 10px;
    display: flex;
    align-items: center;
}

#vagas {
    font-size: 20px;
    font-weight: bold;
}

#ver-participantes-btn, #visualizar-relatorios-btn
{
    background-color: #14387F;
    color: #F0F0E9;
    border-radius: 10px;
    padding: 10px;
    min-width: 160px;
    height: 40px;
    font-size: 100%;
    font-family: lato;
}

#objetivo
{
    max-width: 70%;
}

#btn-entrar a {
    color: #F0F0E9;
}

.solicit {
    background: #c4c4c4;
    margin-bottom: 30px;
}



.solicitacoes > div {
    display: flex;
    padding: 15px 100px 15px 15px;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    position: relative;
}

.solicitacoes > div:nth-of-type(1) {
    justify-content: space-around;
}

.solicit div {
    height: 100%;
    padding: 10px;
    color: #f0f0e9;
    border-radius: 30px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
}

.insc {
    background: #009306;
}

.desist {
    background: #FF2233;
}

.msg {
    background: #14387F;
}

#solicitacao
{
    background-color: #C4C4C4;
    border-style: solid;
    border-width: 2px;
    border-color: #14387F;
    border-radius: 25px;
    padding: 20px;
}

#mensagem
{
    background-color: #F0F0E9;
    border-radius: 15px;
    padding: 15px 20px;
}

#mensagem-aluno
{
    background-color: #F0F0E9;
    border-style: hidden;
    border-radius: 15px;
    padding: 15px 20px;
    display: flex;
    align-items: flex-start;
    width: 50%;
    height: 100px;
    font-family: lato;
}

#carta
{
    width: 45px;
}

#recusar
{
    background-color: #FF2233;
    color:#F0F0E9;
    border-radius: 15px;
    padding: 5px 20px;
    font-family: lato;
}

#aceitar-solicitacao
{
    background-color: #14387F;
    color:#F0F0E9;
    border-radius: 15px;
    padding: 5px 20px;
    font-family: lato;
}

#atividades-realizadas
{
    font-family: lato;
    border-collapse: collapse;
    width: 100%;
}

#atividades-realizadas td, #atividades-realizadas th
{
    border: 1px solid #F0F0E9;
    padding: 10px;
}

#atividades-realizadas tr:nth-child(even)
{
    background-color: #D4D4D4;
}

#atividades-realizadas th
{
    padding: 5px 10px;
    text-align: center;
    background-color: #B4B4B4;
}

#h
{
    text-align: center;
}

#atividade
{
    padding: 5px 15px;
    text-align: center;
    border-radius: 15px;
    font-family: latob;
    background-color: #BBBBBB;
}

#concordo {
    width: initial;
}

#termos {
    margin-bottom: 5px;
}